body{
	
	width: 100%;
	background-color: rgb(225, 237, 221);

}
body h1{
	text-align: center;
    font-size: 50;
    margin-top: 25px;
    font-family: cursive;
}
.first
 {	
 	float: left;
	display: block;
	width:300px;
	height: auto;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 80px;
	border-radius: 5px solid;
	box-shadow: 3px 3px 25px 1px grey ;
	margin-left: 100px;	
	background-color: grey;
	font-family:sans-serif;

}
h2{
	text-align: center;
	font-family: cursive;
	
}
.second{
	float: left;
	display: block;
	width:300px;
	height: 600;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 80px;
	border-radius: 4px solid;
	background-color: grey;
	box-shadow: 3px 3px 25px 4px grey;
	margin-left: 50px;
	font-family:sans-serif;
}

.third{
	float: left;
	display:block;
	width:300px;
	height: 600px;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 80px;
	border-radius: 4px solid;
	box-shadow: 3px 3px 25px 4px grey;
	margin-left: 50px;
	background-color: grey;
	font-family:sans-serif;
}
input[type=text],select{
	 border-radius: 4px ;
	 width: 100%;
	 height: 30px;
	 padding: 2px;
	 border: 2px solid;
	
}
input[type="button"],input[type="submit"]
{
	text-align: center;
	margin: center;
	margin left: 110px;
	width: 120px;
	font-family: cursive;
	margin-top: 30px;
	border-radius: 4px;

}
textarea
{	

	 border-radius: 4px ;
	 width: 100%;
	 height: 45px;
	 padding: 2px;
	 border: 2px solid;
	
}
/*.bgColor {
    width:300px;
    height: 300px;
    background-color: #c3e8cb;
    padding: 30px;
    border-radius: 4px;
	text-align: center;    
}*/
#targetOuter{	
	position:relative;
    text-align: center;
    background-color: #F0E8E0;
    margin: 20px auto;
    width: 200px;
    height: 200px;
	border-radius: 4px;
}
/*.btnSubmit 
{
	text-align: center;
	margin left: 110px;
	width: 120px;
	font-family: cursive;
	margin-top: 40px;
}*/
    
   
.inputFile {
    padding: 5px 0px;
	margin-top:8px;	
    background-color: #FFFFFF;
    width: 48px;	
    overflow: hidden;
	opacity: 0;	
	cursor:pointer;
}
.icon-choose-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    opacity:0.1;
}
.upload-preview 
{
	border-radius:4px;
	
    
}
#body-overlay 
{
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	}
/*body-overlay div 
{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-32px;
	margin-left:-32px;
}*/
#targetOuter1{	
	position:relative;
    text-align: center;
   background-color: #F0E8E0;
    margin: 20px auto;
    width: 200px;
    height: 50px;
	border-radius: 4px;
}
.inputFile1 {
    padding: 5px 0px;
	margin-top:8px;	
    background-color: #FFFFFF;
    width: 48px;	
    overflow: hidden;
	opacity: 0;	
	cursor:pointer;
}
.sign-choose-image {
    position: absolute;
    top: 50%;
    left: 15%;
    margin-top: -24px;
    margin-left: -29px;
    width: 200px;
    height: 50px;
    opacity:0.1;
}
#next_btn1{
	margin-left: 80px;
}
#next_btn2{
	margin-left: 50px;
}
#preview{
	margin-left: 50px;
	text-decoration: none;
}

p
{
	
	font-family:sans-serif;
	color:whitesmoke;
	margin-top: 1px;
	font-variant: normal;
	font-size: 16px;
}
